@{
    ViewData["Title"] = "Son Of Cod - Subscribe to Newsletter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="segment">
    <h2>Basic AJAX</h2>
    <h4 class="hello-ajax clickable">Hello AJAX</h4>
    <div id="result1"></div>
</div>

<div class="segment">
    <h2>Using Parameters</h2>

    <form id="sum">
        <div class="form-group">
            <label for="first-number">First Number</label>
            <input id="first-number" class="form-control" type="number">
        </div>
        <div class="form-group">
            <label for="second-number">Second Number</label>
            <input id="second-number" class="form-control" type="number">
        </div>
    </form>

    <h4 class="sum clickable">Get Sum</h4>
    <div id="result2"></div>
</div>

<div class="segment">
    <h2>Using JSON to display an object</h2>

    <form id="display-object">
        <div class="form-group">
            <label for="city">City</label>
            <input id="city" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input id="country" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="id">Id</label>
            <input id="id" class="form-control" type="text">
        </div>
    </form>

    <h4 class="display-object clickable">Display object</h4>
    <div id="result3"></div>
</div>

<div class="segment">
    <h2>Displaying a view</h2>
    <h4 class="display-view clickable">Display view</h4>
    <div id="result4"></div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $('.hello-ajax').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("HelloAjax")',
                success: function (result) {
                    $('#result1').html(result);
                }
            });
        });
        
        $('.sum').click(function () {

            var firstNumberInput = parseInt($("#first-number").val());
            var secondNumberInput = parseInt($("#second-number").val());

            $.ajax({
                type: 'GET',
                data: { firstNumber: firstNumberInput, secondNumber: secondNumberInput },
                url: '@Url.Action("Sum")',
                success: function (result) {
                    $('#result2').html(result);
                }
            });
        });

        $('.display-object').click(function () {

            var countryInput = $("#country").val();
            var cityInput = $("#city").val();
            var idInput = $("#id").val();

            $.ajax({
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                data: { city: cityInput, country: countryInput, id: idInput },
                url: '@Url.Action("DisplayObject")',
                success: function (result) {
                    var resultString = 'Id: ' + result.id + '<br>City: ' + result.city + '<br>Country: ' + result.country;
                    $('#result3').html(resultString);
                }
            });
        });

        $('.display-view').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("DisplayViewWithAjax")',
                success: function (result) {
                    $('#result4').html(result);
                }
            });
        });
    });
</script>